* {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}

body {
	background-image: url("../images/printer.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.header {
	min-height: 100vh;
	width: 100%;
	position: relative;
}

nav {
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}
nav img {
	width: 150px;
}
.nav-links {
	flex: 1;
	text-align: right;
}
.nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a {
	color: white;
	text-decoration: none;
	font-size: 15px;
}
.nav-links ul li::after {
	content: "";
	width: 0%;
	height: 2px;
	background: #077afd;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after {
	width: 100%;
}
.headline {
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.headline h1 {
	font-size: 62px;
}
.header p {
	margin: 10px 0 40px;
	font-size: 14px;
	color: #fff;
}
.books {
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
	color: white;
}
h1 {
	font-size: 36px;
	font-weight: 600;
}
.books p {
	color: rgb(255, 255, 255);
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}
.row {
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}
.first {
	flex-basis: 31%;
	background: #00b0b0;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
}
/*-----silder-----*/
.silder {
	width: 90%;
	height: 90vh;
	margin: 30px auto;
}
/*----footer----*/
h3 {
	text-align: center;
}
.footer-p {
	color: rgb(255, 255, 255);
	font-size: 15px;
}
.footer {
	padding: 40px 0;
	background-color: #1abebe;
}

.footer .social {
	text-align: center;
	padding-bottom: 25px;
	color: rgb(10, 9, 9);
}
.footer .social a {
	font-size: 30px;
	color: inherit;
	width: 40px;
	height: 40px;
	line-height: 38px;
	display: inline-block;
	text-align: center;
}

/*----blog-----*/
.box {
	padding: 80px;
	background: rgb(234, 234, 234);
	border-radius: 4px;
	width: 800px;
	margin: auto;
	margin-bottom: 100px;
}
h2 {
	text-align: center;
	font-family: "Raleway", sans-serif;
}
.box .par {
	color: black;
}

/*---reserach----*/

.reserach-box img {
	padding: 50px;
}
.text {
	padding: 50px;
	font-size: 100px;
}
